<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This website is under construction. You will find it full of mess everywhere. 想看看中文？试试吧 </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>
