<style>
	.aForm {
		margin: 20px;
		width: 800px;
	}

	.hbar {
		margin: 5px 0px;
		height: 2px;
		width:100%;
		border-top:1px solid gray;
	}

	.form-group p { padding: 15px; }
</style>

<script>
	$(document).ready(function(){
		$('#btn-submit').on('click', function(e){
			e.preventDefault();

			var aLead = {
				email: $('#email1').val(),
				phone: $('#phone1').val()
			}

			$('#msg').attr('class','bg-info').text('creating ...');
			var msgCls = '';
			var msg = '';
			$.post("/lead", aLead)
			.done(function(data) {
				console.log(data);
				msgCls = 'bg-success';
				msg = 'Added 1 success !';
			})
			.fail(function() {
				msgCls = 'bg-danger';
				msg = 'Add failed !';
			})
			.always(function(){
				$('#msg').attr('class',msgCls).text(msg);
			});
		});
	});
</script>


<div class='aForm'>
<form>
  <div class="form-group">
    <label for="email1">Email</label>
    <input type="email" class="form-control" id="email1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="phone1">Phone/Cell</label>
    <input type="text" class="form-control" id="phone1" placeholder="Phone">
  </div>
  <div class="form-group">
  <div class="hbar" ></div>
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" id="exampleInputFile">
  </div>
  <div class="form-group">
	<button type="submit" class="btn btn-default" id="btn-submit">Submit</button>
  </div>
  <div class="form-group">
	<p id="msg"></p>
  </div>
</form>
</div>
